.footer {
    background: $green;
    margin-top: -2px;
    padding-bottom: 30px;

    p {
        color: #fff;
        font-size: 1.3rem;
        justify-content: center;
    }

    .col-5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        min-height: 100px;
    }

    .row:first-child {
        border-bottom: 1px solid #fff;
    }
}



.email,
.phone {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    &:before {
        content: '';
        height: 20px;
        width: 20px;
        display: block;
        background-repeat: no-repeat;
        margin-top: 3px;
        margin-right: 15px;
    }
}

.email {
    margin-top: 20px;
}

.email:before {
    background-image: url('../assets/envelope.svg');
}

.phone:before {
    background-image: url('../assets/phone.svg');
}

.copyright {
    font-size: 0.8rem !important;
    text-align: center;
    padding: 5px 0;
}
