@media (min-width: 360px) {
    .heading {
        font-size: 2rem;
    }
}

@media (min-width: 470px) {
    .offer--box {
        h1 {
            font-size: 1.5rem;
            margin-left: 40px;
            margin-top: 0;
            text-align: left;
        }

        padding: 42px 20px 20px 40px;

        img {
            height: 60px;
        }
    }

    .offer--header {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .offer_list {
        li {
            text-align: left;
        }
    }
}

@media (min-width: 576px) {}

@media (min-width: 527px) and (max-width: 768px) {

    .offer--box__white.box-open {
        height: 250px;
    }

    .offer--box__green.box-open {
        height: 300px;
    }

    .offer_wrapper {
        flex-direction: row;
    }

    .offer--box {
        .col-5 {
            width: 50%;
        }
    }

    .dotted_heading {
        text-align: center;
        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .features .col-5:first-child {
        justify-content: center;
        background-position: center;
    }
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        position: relative;
        background: none;
        height: 8vh;
        flex-direction: row;
        width: 50%;
        transform: translateX(0);
        z-index: 3;

        li {
            opacity: 1;
        }
    }

    .burger {
        display: none;
    }

    .row {
        flex-direction: row;
    }

    .col-1 {
        width: 10%;
    }

    .col-2 {
        width: 20%;
    }

    .col-3 {
        width: 30%;
    }

    .col-4 {
        width: 40%;
    }

    .col-5 {
        width: 50%;
    }

    .col-6 {
        width: 60%;
    }

    .col-7 {
        width: 70%;
    }

    .col-8 {
        width: 80%;
    }

    .col-9 {
        width: 90%;
    }

    .hero--wrapper {
        padding: 100px 0;
    }

    .hero--sub,
    .hero--text p,
    .hero--title {
        text-align: left;
    }

    .hero--text {
        align-items: flex-start;

        p {
            font-size: 1rem;
            line-height: 1.3rem;
        }

    }

    .shape1 {
        top: -20px;
        left: -93px;
    }

    .shape2 {
        top: -20px;
        left: 1200px;
    }

    #scene {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .line1 {
        top: 0;
        right: 350px;
    }

    .line2 {
        top: 250px;
        left: 800px;
    }

    .line3 {
        top: 280px;
        left: 1100px;
    }

    .line4 {
        top: 700px;
        left: 700px;
    }

    .line5 {
        top: 600px;
        left: 1200px;
    }

    .dots {
        top: 600px;
        width: 500px;
        left: -100px;
    }

    .offer-left {
        padding-right: 15px;
    }

    .offer-right {
        padding-left: 15px;
    }

    .offer--box {
        h1 {
            font-size: 1.2rem;
            margin-left: 40px;
        }

    }

    .page--top {
        height: auto;
    }

    .hero--wrapper {
        padding-top: 0;
    }

    .hero--text {
        justify-content: center;
    }

    .offer_list {
        margin-left: -20px;
    }

    .offer--box__white.box-open {
        height: 350px;
    }

    .offer--box__green.box-open {
        height: 450px;
    }

    .about {
        padding: 50px 0;
        text-align: left;
        background: url(../assets/pen.svg) no-repeat;
        background-size: 50%;
        background-position-x: right;
        background-position-y: 100px;
        background-color: #f6f6f7;
    }

    .features {
        text-align: left;
        position: relative;
    }


    .heading {

        &:after {
            left: 0;
            transform: translateX(0);
        }
    }

    .dotted_heading {
        margin-top: 0;
        margin-left: 70px;
    }

    .feature_row {
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;

        img {
            margin-right: 50px;
        }

        h3 {
            margin: 5px 0;
        }

        div {
            width: 70%;
        }
    }

    .white_top h2 {
        font-size: 2rem;
    }

    .white_heading {
        text-align: left;
        font-size: 2.5rem;
    }

    .page--footer p {
        justify-content: flex-start;
    }

    .page--footer {
    
        .col-5 {
            min-height: 200px;
        }

        .col-5:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .subpage .page--top {
        min-height: 300px;
    }

    .offer_design {
        .col-5:first-child {
            order: 0;
        }
    }
    
    
    .offer_websites {
        .col-5:first-child {
            order: 0;
        }
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .offer--box {
        height: 130px;
    }
}


@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }

    .offer--box {
        h1 {
            font-size: 1.7rem;
            margin-left: 50px;
        }

        img {
            width: 80px;
        }

        height: 140px;
    }

    .offer--header {
        width: auto;
    }

    .hero--sub {
        font-size: 3rem;
    }

    .hero--title {
        font-size: 5.8rem;
    }

    .hero--text p {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .hero--text {
        justify-content: center;
    }

    .offer--box {
        &:hover {
            height: 100%;
        }
    }


    .about {
        padding: 150px 0;
    }

    .subpage .about {
        padding: 50px 0;
    }


    .features {
        @include side_shapes;
        &:before {
            top: -150px;
            left: -150px;
        }
    }

    .white_top {
        @include side_shapes;
        &:before {
            top: -150px;
            right: -150px;
            transform: rotate(180deg);
            z-index: 5;
        }
    }

    .page--footer p {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .hero--text {
        margin-top: 50px;

        p {
            font-size: 1.618rem;
            line-height: 2.2rem;
        }
    }


    .hero--sub {
        font-size: 3.618rem;
    }

    .hero--title {
        font-size: 6.536rem;
    }

    .hero--title:after {
        bottom: 21px;
    }

    .offer--box {
        padding: 42px 20px 20px 70px;
    }


    .hero--wrapper {
        padding-top: 100px;
    }

    .feature_row {
        padding-left: 100px;
    }

}

@media (min-width: 1600px) {
    .nav-links {
        width: 30%;
    }
}