.top {
  position: relative;
  overflow: hidden;
  height: auto;
  background: #3f328b;
  background: linear-gradient(202deg, #3f328b 23%, #1049e1 87%);
}

.top:after {
  content: '';
  width: 100vw;
  height: 100px;
  background: url("../assets/overlay.svg");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.expand {
  height: 1000px !important;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  font-family: sans-serif;
  overflow: hidden;
}

.nav__logo {
  padding: 20px 0;
}

.nav__links {
  position: absolute;
  right: 0px;
  height: 100vh;
  top: 0;
  background: #3f328b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  z-index: 3;
}

.nav__links li {
  opacity: 0;
}

.nav__burger {
  display: block;
  cursor: pointer;
  z-index: 1000;
}

.nav__links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.nav__links li {
  list-style: none;
  position: relative;
}

.nav__links li:after,
.category__button:after {
  content: '';
  height: 3px;
  width: 100%;
  background: #42D091;
  display: block;
  position: absolute;
  bottom: -15px;
  border-radius: 50px;
  opacity: 0;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__link--active::after,
.category__button--active:after {
  content: '';
  height: 3px;
  width: 100%;
  background: #42D091;
  display: block;
  position: absolute;
  bottom: -15px;
  border-radius: 50px;
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.nav__links li:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__burger div {
  width: 25px;
  height: 2px;
  background: #fff;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

.hero {
  padding: 50px 0;
}

.hero .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  z-index: 2;
}

.hero__text p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 80%;
  line-height: 2rem;
}

.hero__sub {
  color: #5485D9;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: -10px;
}

.hero__title {
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  position: relative;
}

.hero__title:after {
  content: '';
  height: 15px;
  width: 15px;
  display: block;
  border-radius: 50%;
  background: #42D091;
  position: absolute;
  right: -18px;
  bottom: 11px;
  z-index: 2;
}

.shape {
  position: absolute;
  z-index: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.shape1 {
  top: -20px;
  left: -230px;
  width: 300px;
}

.shape2 {
  top: -20px;
  right: -250px;
  width: 400px;
}

.line {
  width: 50px;
}

.footer {
  background: #42D091;
  margin-top: -2px;
  padding-bottom: 30px;
}

.footer p {
  color: #fff;
  font-size: 1.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100px;
}

.footer .row:first-child {
  border-bottom: 1px solid #fff;
}

.email,
.phone {
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email:before,
.phone:before {
  content: '';
  height: 20px;
  width: 20px;
  display: block;
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-right: 15px;
}

.email {
  margin-top: 20px;
}

.email:before {
  background-image: url("../assets/envelope.svg");
}

.phone:before {
  background-image: url("../assets/phone.svg");
}

.copyright {
  font-size: 0.8rem !important;
  text-align: center;
  padding: 5px 0;
}

body {
  margin: 0;
}

main {
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.4rem;
}

.m-auto {
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  color: #041A5C;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.relative {
  position: relative;
}

.container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.responsive {
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button:focus {
  outline: 0;
}

.white_heading {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.green_btn {
  background-color: #00cb7c;
  background-color: linear-gradient(202deg, #00cb7c 23%, #42d091 87%);
  padding: 10px 30px;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  margin: 20px 0;
  display: inline-block;
  width: auto;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: 1px solid transparent;
}

.about {
  background: #f6f6f7;
  padding-top: 250px;
  text-align: center;
}

.grey_bottom {
  background: #f6f6f7;
  position: relative;
  padding-bottom: 200px;
}

.grey_bottom:after {
  content: '';
  width: 100vw;
  height: 100px;
  background: url("../assets/white-overlay.svg");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.white_top {
  position: relative;
}

.white_top:after {
  content: '';
  width: 100vw;
  height: 117px;
  background: url("../assets/green-overlay.svg");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.offer {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer .container {
  position: absolute;
  margin-top: -158px;
}

.offer__header {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__box {
  border-radius: 20px;
  -webkit-box-shadow: 2px 5px 7px rgba(1, 1, 1, 0.12);
          box-shadow: 2px 5px 7px rgba(1, 1, 1, 0.12);
  overflow: hidden;
  padding: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 3;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
  -webkit-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
  height: 130px;
}

.offer__box:after {
  content: '';
  height: 250px;
  width: 200px;
  background: url(../assets/box-bg.svg) no-repeat;
  display: block;
  position: absolute;
  bottom: -99px;
  right: 0;
  background-size: cover;
}

.offer__box h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  color: #041A5C;
  margin-top: 15px;
  text-align: center;
}

.offer__box--green {
  background: no-repeat right 120%, -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #8ad7bd), to(#02c969));
  background: no-repeat right 120%, linear-gradient(90deg, #020024 0%, #8ad7bd 0%, #02c969 100%);
}

.offer__box--green h1 {
  color: #fff;
}

.offer__box--white {
  background: #fff;
}

.offer__box--white .offer__list li {
  color: #041A5C;
}

.offer__box img {
  height: 40px;
}

.offer__box--white.box-open {
  height: 400px;
}

.offer__box--green.box-open {
  height: 550px;
}

.offer__wrapper {
  width: 100%;
}

.offer__list {
  list-style-type: none;
  margin-top: 30px;
  font-size: 1rem;
}

.offer__list li {
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

.heading {
  font-size: 1.7rem;
  margin-bottom: 35px;
  color: #041A5C;
  position: relative;
}

.heading:after {
  content: '';
  height: 5px;
  width: 100px;
  background: #42D091;
  display: block;
  position: absolute;
  bottom: -15px;
  border-radius: 80px;
}

.content_heading:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.green_btn:hover {
  border: 1px solid #42D091;
  background-color: transparent;
  color: #42D091;
}

.dotted {
  background: url("../assets/dots-grey.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left;
  min-height: 300px;
}

.grey_bottom .col-5:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dotted_heading {
  margin-left: 20px;
  margin-top: 20px;
}

.feature__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
}

.feature__row h3 {
  text-transform: uppercase;
  margin: 15px 0;
}

.feature__row:nth-child(2) {
  margin: 50px 0;
}

.white_top {
  padding-top: 100px;
  padding-bottom: 200px;
}

.white_top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white_top img {
  border-radius: 30px;
  margin: 20px 0;
  max-width: 100%;
}

.white_top h2 {
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.white_top .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.subpage .top {
  height: 250px;
}

.subpage .about {
  padding-top: 0;
  background-image: none;
}

.subpage .white_top {
  padding-top: 50px;
}

.subpage .about .col-5,
.subpage .grey_bottom .col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subpage .grey_bottom {
  padding-bottom: 100px;
}

.offer__design .col-5:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.offer__websites .col-5:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.page--offer .about .row {
  margin: 100px 0;
}

.page--offer .about .row:last-child {
  margin-bottom: 0;
}

.page--offer .about img {
  margin-bottom: 20px;
}

.about__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hobbies .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.hobbies img {
  margin-bottom: 50px;
}

.page--portfolio .top:after {
  background-image: url("../assets/white-overlay.svg");
}

.category__button {
  border: 0;
  font-weight: bold;
  font-size: 1rem;
  color: #041A5C;
  background: none;
  margin: 15px;
}

.category__button--active {
  position: relative;
}

.category__button:hover {
  cursor: pointer;
}

.categories {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__elements {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__element {
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  padding: 10px;
}

.portfolio__element img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  -webkit-transition: 0.2s ease-in transform;
  transition: 0.2s ease-in transform;
}

.portfolio__element img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio__desc {
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__desc small {
  color: #42D091;
}

.portfolio__desc strong {
  color: #fff;
}

.gallery {
  width: 100%;
  margin: 50px auto;
}

.item {
  width: 100%;
}

/* ---- isotope ---- */
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.next,
.prev {
  color: #42D091;
  position: absolute;
  right: -20px;
  font-size: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  max-width: 50px;
}

.prev {
  left: -20px;
}

.carousel img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 700px;
}

.technologies {
  margin: 50px 0 25px 0;
}

.technologies img {
  max-width: 50px;
}

.website--single p {
  text-align: center;
}

.website--single .col-5:nth-child(2) {
  margin-top: 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page--contact {
  background: #42D091;
}

.page--contact .top:after {
  background: url("../assets/green-overlay.svg");
  height: 132px;
}

@media (min-width: 360px) {
  .heading {
    font-size: 2rem;
  }
}

@media (min-width: 470px) {
  .offer__box {
    padding: 42px 20px 20px 40px;
  }
  .offer__box h1 {
    font-size: 1.5rem;
    margin-left: 40px;
    margin-top: 0;
    text-align: left;
  }
  .offer__box img {
    height: 60px;
  }
  .offer__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__list li {
    text-align: left;
  }
}

@media (min-width: 527px) and (max-width: 768px) {
  .offer__box--white.box-open {
    height: 250px;
  }
  .offer__box--green.box-open {
    height: 300px;
  }
  .offer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offer__box .col-5 {
    width: 50%;
  }
  .dotted_heading {
    text-align: center;
  }
  .dotted_heading:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .features .col-5:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: center;
  }
}

@media (min-width: 768px) {
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    background: none;
    height: 8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 3;
  }
  .nav__links li {
    opacity: 1;
  }
  .nav__burger {
    display: none;
  }
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .col-1 {
    width: 10%;
  }
  .col-2 {
    width: 20%;
  }
  .col-3 {
    width: 30%;
  }
  .col-33 {
    width: 33.3333%;
  }
  .col-4 {
    width: 40%;
  }
  .col-5 {
    width: 50%;
  }
  .col-6 {
    width: 60%;
  }
  .col-7 {
    width: 70%;
  }
  .col-8 {
    width: 80%;
  }
  .col-9 {
    width: 90%;
  }
  .hero__sub,
  .hero__text p,
  .hero__title {
    text-align: left;
  }
  .hero__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero__text p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .shape1 {
    top: -20px;
    left: -93px;
  }
  .shape2 {
    top: -20px;
    left: 1200px;
  }
  #scene {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .line1 {
    top: 0;
    right: 350px;
  }
  .line2 {
    top: 250px;
    left: 800px;
  }
  .line3 {
    top: 280px;
    left: 1100px;
  }
  .line4 {
    top: 700px;
    left: 700px;
  }
  .line5 {
    top: 600px;
    left: 1200px;
  }
  .dots {
    top: 600px;
    width: 500px;
    left: -100px;
  }
  .offer__left {
    padding-right: 15px;
  }
  .offer__right {
    padding-left: 15px;
  }
  .offer__box h1 {
    font-size: 1.2rem;
    margin-left: 40px;
  }
  .top {
    height: auto;
  }
  .hero {
    padding-top: 0;
  }
  .hero__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__list {
    margin-left: -20px;
  }
  .offer__box--white.box-open {
    height: 350px;
  }
  .offer__box--green.box-open {
    height: 450px;
  }
  .about {
    padding: 50px 0;
    text-align: left;
    background: url(../assets/pen.svg) no-repeat;
    background-size: 50%;
    background-position-x: right;
    background-position-y: 100px;
    background-color: #f6f6f7;
  }
  .features {
    text-align: left;
    position: relative;
  }
  .heading:after {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .dotted_heading {
    margin-top: 0;
    margin-left: 70px;
  }
  .feature__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
  .feature__row img {
    margin-right: 50px;
  }
  .feature__row h3 {
    margin: 5px 0;
  }
  .feature__row div {
    width: 70%;
  }
  .white_top h2 {
    font-size: 2rem;
  }
  .white_heading {
    text-align: left;
    font-size: 2.5rem;
  }
  .footer p {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .col-5 {
    min-height: 200px;
  }
  .footer .col-5:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subpage .top {
    min-height: 300px;
  }
  .offer__design .col-5:first-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .offer__websites .col-5:first-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .page--offer .about .col-5 {
    padding: 50px;
  }
  .page--offer .about img {
    margin-bottom: 0px;
  }
  .hero {
    padding: 50px 0 200px 0;
  }
  .website--single .col-5:nth-child(2) {
    padding: 0 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .website--single .col-5:nth-child(2) p {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .offer__box {
    height: 130px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
  .offer__box {
    height: 140px;
  }
  .offer__box h1 {
    font-size: 1.7rem;
    margin-left: 50px;
  }
  .offer__box img {
    width: 80px;
  }
  .offer__header {
    width: auto;
  }
  .hero__sub {
    font-size: 3rem;
  }
  .hero__title {
    font-size: 5.8rem;
  }
  .hero__text p {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .hero__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__box:hover {
    height: 100%;
  }
  .about {
    padding: 150px 0;
  }
  .subpage .about {
    padding: 50px 0;
  }
  .features:before {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: url("../assets/shapes.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .features:before {
    top: -150px;
    left: -150px;
  }
  .white_top:before {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: url("../assets/shapes.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .white_top:before {
    top: -150px;
    right: -150px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    z-index: 5;
  }
  .footer p {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .hero__text {
    margin-top: 50px;
  }
  .hero__text p {
    font-size: 1.618rem;
    line-height: 2.2rem;
  }
  .hero__sub {
    font-size: 3.618rem;
  }
  .hero__title {
    font-size: 6.536rem;
  }
  .hero__title:after {
    bottom: 21px;
  }
  .offer__box {
    padding: 42px 20px 20px 70px;
  }
  .hero__wrapper {
    padding-top: 100px;
  }
  .feature__row {
    padding-left: 100px;
  }
  .top {
    height: 1000px;
  }
}

@media (min-width: 1600px) {
  .nav__links {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */