$green: #42D091;
$dark-blue: #041A5C;


@mixin side_shapes {
    &:before {
        content: '';
        position: absolute;
        width: 250px;
        height: 250px;
        background: url('../assets/shapes.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}




@import 'header';
@import 'footer';
@import 'base';
@import 'pages/home';
@import 'pages/subpage';
@import 'pages/offer';
@import 'pages/about';
@import 'pages/portfolio';
@import 'pages/website-single';
@import 'pages/contact';
@import 'RWD';