

.page--contact {
    background: #42D091;

    .top:after {
        content: '';
        width: 100vw;
        height: 117px;
        background: url(../assets/green-overlay.svg);
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        z-index: 2;
    }
}

