.offer__design {
    .col-5:first-child {
        order: 2;
    }
}


.offer__websites {
    .col-5:first-child {
        order: 2;
    }
}

.page--offer {
    .about { 
        .row {
            margin: 100px 0;
        }
    
        .row:last-child {
            margin-bottom: 0;
        }
    
        img {
            margin: 0 auto 30px;
            max-width: 300px;
        }
    }
    
}

@media (min-width: 768px) {
    .page--offer {
        .about { 
            .row {
                margin: 20px 0;
            }
            
            img {
                max-width: 100%;
            }
        }
        
    }
    
}