.offer_design {
    .col-5:first-child {
        order: 2;
    }
}


.offer_websites {
    .col-5:first-child {
        order: 2;
    }
}

.offer-page {
    .about { 
        .row {
            margin: 100px 0;
        }
    
        .row:last-child {
            margin-bottom: 0;
        }
    
        img {
            margin-bottom: 20px;
        }
    }
    
}
