.page--portfolio {
    .top:after {
        background-image:url("../assets/white-overlay.svg");
    }
}

.category__button {
    border: 0;
    font-weight: bold;
    font-size: 1rem;
    color: $dark-blue;
    background:none;
    margin: 15px;
}

.category__button--active {
    position: relative;
}


.category__button:hover {
    cursor: pointer;
}

.categories {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
}

.portfolio__elements {
    flex-wrap: wrap;
}
.portfolio__element {
    //max-height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    //padding: 20px;
    padding: 10px;

    img {
        width: 100%;
        //height: 200px;
        object-fit: cover;
        margin: 0;
        transition: 0.2s ease-in transform;
        &:hover { 
            transform: scale(1.05);
        }
    }
    
}

.portfolio__desc {
    position: absolute;
    bottom: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;

    small {
        color: $green;
    }

    strong {
        color: #fff;
    }
}

.gallery {
    width: 100%;
    margin: 50px auto;
}


.item {
    width: 100%;
}



/* ---- isotope ---- */


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

